<div class="container">
  <h2>User settings</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        name="name"
        class="form-control"
        placeholder="name"
        [(ngModel)]="userSettings.name"
        #nameField="ngModel"
        required
        [class.field-error]="form.submitted && nameField.untouched"
      />
      <div
        class="alert alert-danger"
        [hidden]="!form.submitted || nameField.valid"
      >
        Enter a name
      </div>
    </div>
    <div class="form-check form-group">
      <input
        type="checkbox"
        class="form-check-input"
        name="email"
        [(ngModel)]="userSettings.emailOffers"
      />
      <label for="email">E-mail</label>
    </div>
    <div class="">
      <button
        type="button"
        class="btn btn-primary"
        [(ngModel)]="singleModel"
        btnCheckbox
        btnCheckboxTrue="On"
        btnCheckboxFalse="Off"
        name="singleModel"
      >
        {{ singleModel }}
      </button>
    </div>
    <p>User Interface Style</p>
    <div class="form-group">
      <label
        class="btn btn-primary"
        [(ngModel)]="userSettings.interfaceStyle"
        name="styleInterface"
        btnRadio="light"
        tabindex="0"
        role="button"
        >light</label
      >
      <label
        class="btn btn-primary"
        [(ngModel)]="userSettings.interfaceStyle"
        name="styleInterface"
        btnRadio="medium"
        tabindex="0"
        role="button"
        >medium</label
      >
      <label
        class="btn btn-primary"
        [(ngModel)]="userSettings.interfaceStyle"
        name="styleInterface"
        btnRadio="dark"
        tabindex="0"
        role="button"
        >dark</label
      >
    </div>
    <div class="form-group">
      <label for="subscriptionType">Subscription type</label>
      <select
        class="form-select"
        id="subscriptionType"
        name="subscriptionType"
        [(ngModel)]="userSettings.subscriptionType"
      >
        <option selected>Open this select menu</option>
        <option *ngFor="let type of subscriptionTypes | async">
          {{ type }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="stratDate">Start date</label>
      <input
        type="text"
        placeholder="start date"
        class="form-control"
        [(ngModel)]="startDate" name="startDate" id="startDate"
        bsDatepicker
      />

    </div>
    start date: {{startDate}}
    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea
        type="text"
        id="notes"
        name="notes"
        class="form-control"
        row="3"
        [(ngModel)]="userSettings.notes"
      ></textarea>

      <div class="alert alert-danger" [hidden]="!postError">
        {{ postErrorMessage }}
      </div>
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>
